
.icon-angle-up:before { content: '\e800'; } /* '' */
.icon-angle-down:before { content: '\e801'; } /* '' */
.icon-ccw:before { content: '\e802'; } /* '' */
.icon-gauge:before { content: '\e803'; } /* '' */
.icon-table:before { content: '\e804'; } /* '' */
.icon-mail-alt:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-chart-area:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\e808'; } /* '' */
.icon-pencil-squared:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-arrows-ccw:before { content: '\e80b'; } /* '' */
.icon-down-open-big:before { content: '\e80c'; } /* '' */
.icon-up-open-big:before { content: '\e80d'; } /* '' */
.icon-ccw-1:before { content: '\e80e'; } /* '' */
.icon-user:before { content: '\e80f'; } /* '' */
.icon-help-circled:before { content: '\e810'; } /* '' */
.icon-box:before { content: '\e811'; } /* '' */
.icon-left-open-big:before { content: '\e812'; } /* '' */
.icon-right-open-big:before { content: '\e813'; } /* '' */